<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <h1>Welcome to MentorMatch</h1>

        <p>Your go-to platform for discovering and booking academic mentorship sessions</p>

    </body>

</html>