<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/navbar.ejs") %>

        <header>
            <h1>Welcome to MentorMatch</h1>
            <p>Your go-to platform for discovering and booking academic mentorship sessions</p>
        </header>
        <% if (user) { %>
            <h2>Hello again, <%= user.username %>!</h2>
            <a href="/dashboard">Go to your Dashboard</a>
        <% } else { %>
            <a href="/auth/sign-up" class="btn btn-primary">Start Today</a>        
        <% } %>

        <section>
            <h3>How it Works</h3>
            <p>Find the perfect mentor or student, book a session, and improve your skills.</p>
        </section>
    
        <section>
            <h3>Why Choose MentorMatch?</h3>
            <ul>
                <li>Experienced Mentors</li>
                <li>Personalized Sessions</li>
                <li>Easy Booking</li>
            </ul>
        </section>

    </body>

</html>