.navbar-container{
    position: relative;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav {
    color: #FFF
}

.search-bar{
    width: 80%;
}

.search-wrapper {
    width: 40%;
    margin: 15px 50px;
}

.bg-custom{
    background-color: rgba(6,13,34,255);
}